* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: white;
}

h1{

}

body{
  background-color: #F6F8F9;
  font-family: 'Ubuntu', sans-serif;
}

.button {
  padding: 10px 20px;                     
  border: 1px solid #dcdcdc;           
  border-radius: 5px;                     
  font-size: 16px;                        
  cursor: pointer;                     
}

.add-task{
  background-color: #007bff;            
  color: white;                         
}

                                        
.add-section{
  background-color: #f8f9fa;            
  color: #333;                         
}

#mini-box{
width: 900px;
height: 80px;
align-self: center;
background-color: white;
text-align: center;
border-radius: 10px;
padding-left: 20px;
margin: 50px auto;
margin-bottom: 5x;
}

#big-box{
  width: 900px;
  height: auto;
  align-self: center;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding-left: 20px;
  margin: 50px auto;  
  margin-top: -10px;
  font-family: ;
}

.editorial{
color: white;
background-color: #45ABEA;
padding: 5px;
border-radius: 10px;
font-size: 0.75em;
}

.q1{
  color: white;
  background-color: ##9C72E4;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
}

.Recruiting{
  color: white;
  background-color: #64C0A9;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
}

.Mobile{
  color: white;
  background-color: #F29E33;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
}

.Website{
  color: white;
  background-color: #D863A1;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
}

.Sales{
  color: white;
  background-color: #B0C926;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
}

.lista-compiti {
  list-style: none; /* Rimuove i bullet points predefiniti */
  padding-left: 0; /* Rimuove il padding di default */
  text-align: left;
}

.lista-compiti li {
  padding-left: 25px; /* Dà spazio per i simboli */
  margin-bottom: 5px; /* Spazio tra le voci della lista */
  position: relative; /* Permette il posizionamento assoluto dei simboli */
}

.lista-compiti li.completata::before {
  content: '\2714'; /* Unicode per il simbolo di spunta */
  position: absolute;
  left: 0;
  color: green; /* Colore della spunta per le attività completate */
}

.lista-compiti li.incompleta::before {
  content: '\2716'; /* Unicode per il simbolo X */
  position: absolute;
  left: 0;
  color: red; /* Colore della X per le attività in sospeso */
}
